<div class="hashes">
  <a href="#home" class="logoA">
    <img src="images/header_logo.png" class="logo" alt="">
  </a>

  <div class="press-border"></div>
  <div id="menus-wrapper">

  </div>
</div>
